.card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 2px solid white;
  /* height: 400px; */
  width: 600px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 20px;
  background-color: #D8C3A5;
  justify-content: center;
  
}

.card .fa-spinner {
  font-size: 180px;
  position: absolute;
  left: 25%;
  top: 25%;
}
.thumbnail { 
margin-top: 15px;

}
.bookThumb { 
  width: 128px;
  height: 192px;
}

.link { 
color: #E98074;
}

.saveBtn { 
  height: 40px;
    margin-left: 0;
    margin-bottom: 10px;
    background-color: #8E8D8A;
    color: #E98074;
}

