nav.navbar.navbar-default {
  margin-bottom: 0;
}
.navbar { 
  background: #E98074;
}

.nav-link, .navbar-brand { 
  color: #E5E5E5;
  font-size: x-large;
}

.search-div { 
  margin-left: auto;
}

.btn { 
  background-color: lightgrey;
  margin: 5px;
}